textarea {
  resize: none;
  background-color: #8FBC8F;
  transition: background-color 0.3s;
  border: 2px solid black;
  border-radius: 15px;
  outline: none;
}
textarea:focus{
  background-color: #3CB371;
  outline: none;
}
.h4{
  color : red;
}

.td1{
width:200px;
height: 50px;
border-radius: 10px;
border: 1px solid black;
text-align : center;
background-color: #4CAF50;
color: white;
}
.td1:hover{
  background-color: #005f20;
  border: 1px solid #004d1a;
  transition: background-color 0.3s;
}
.table1{
	background-color: #009933;
	border-radius: 15px;
	border-collapse: collapse;
}
table{
  margin : auto;
}
::placeholder{
  color : white;
}
